@import 'mixins.less';
@import 'theme.less';

section.tricktionary {
  margin-top : 80px;

  div.search-container {
    position         : fixed;
    height           : 80px;
    width            : 100%;
    background-color : #2A4C6D;
    top              : 45px;
    left             : 0;
    border-bottom    : 2px solid #676D30;

    input {
      position    : relative;
      display     : block;
      height      : 40px;
      width       : 300px;
      font-size   : 24px;
      margin      : 12px auto 0 auto;
      padding     : 5px;
      .borderRadius(5px, 5px, 5px, 5px);
      font-weight : 100;
    }

  }
  &.condensed {

    margin-right : 500px;

    div.search-container {
      input {
        margin-left : 12px;
      }
    }
    div.trick-class {
      div.tricks {
        div.trick {
          width : 46%;

          @media only screen and (max-width : @tabletLandscapeWidth) {
            width : 96%;
          }
          @media only screen and (max-width : @tabletPortraitWidth) {
            width : 96%;
          }
          @media only screen and (max-width : @mobileLandscapeWidth) {
            width : 96%;
          }
          @media only screen and (max-width : @mobilePortraitWidth) {
            width : 96%;
          }
        }
      }
    }
  }

  div.trick-class {
    header {
      display          : block;
      background-color : #5F5BED;
      padding          : 10px;
      margin           : 20px 0;
      font-size        : 24px;
      color            : #FFF;
      .borderRadius(5px, 5px, 5px, 5px);

      a {
        float : right;
        color : #FFF;
      }
    }

    p {
      &.ng-enter, &.ng-leave {
        .easeInOutQuint(500ms);
      }

      &.ng-enter {
        opacity   : 0;
        font-size : 0;
        overflow  : hidden;
      }

      &.ng-enter.ng-enter-active {
        opacity   : 1;
        font-size : 15px;
      }

      &.ng-leave {
        opacity   : 1;
        font-size : 15px;
      }

      &.ng-leave.ng-leave-active {
        opacity   : 0;
        font-size : 0;
        overflow  : hidden;
      }

    }

    div.tricks {
      clear    : both;
      overflow : hidden;
    }
  }

  div.trick {
    display          : block;
    float            : left;
    box-sizing       : border-box;
    width            : 29.3%;

    @media only screen and (max-width : @tabletLandscapeWidth) {
      width : 46%;
    }

    height           : 50px;
    line-height      : 50px;
    vertical-align   : middle;
    margin           : 5px 2%;
    font-size        : 16px;
    text-align       : center;
    background-color : #FFF;
    border           : 1px solid #B4C8F1;
    color            : #333;

    .borderRadius(5px, 5px, 5px, 5px);
    cursor           : pointer;

    &.ng-enter, &.ng-leave {
      .easeInOutQuint(500ms);
    }

    &.ng-enter {
      opacity       : 0;
      height        : 0;
      font-size     : 0;
      margin-top    : 0;
      margin-bottom : 0;
      overflow      : hidden;
    }

    &.ng-enter.ng-enter-active {
      opacity       : 1;
      height        : 50px;
      font-size     : 16px;
      line-height   : 50px;
      margin-top    : 5px;
      margin-bottom : 5px;
    }

    &.ng-leave {
      opacity       : 1;
      height        : 50px;
      font-size     : 16px;
      line-height   : 50px;
      margin-top    : 5px;
      margin-bottom : 5px;

    }

    &.ng-leave.ng-leave-active {
      opacity       : 0;
      height        : 0;
      font-size     : 0;
      margin-top    : 0;
      margin-bottom : 0;
      overflow      : hidden;
    }

    &:hover {
      .easeInOutQuint(200ms);
      color            : #FFF;
      border           : none;
      background-color : #5aba68;
      transform        : scale(1.1);
      font-weight      : 800;
    }

    span {
      display : block;
      outline : none !important;
    }
  }

  trick-detail {

    display          : block;
    padding          : 20px;

    //background  : -webkit-radial-gradient(circle, #FFF 15%, @gradientPrimary 160%, #FFF 115%);
    //background  : -moz-radial-gradient(circle, #FFF 15%, @gradientPrimary 160%, #FFF 115%);

    background-color : #FFF;
    border-left      : 10px solid #EFEFEF;
    .boxShadow(0px 0 10px #5a8aba);
    position         : fixed;
    text-align       : center;
    top              : 40px;
    right            : 0;
    bottom           : 0;
    width            : 450px;
    overflow-y       : scroll;

    div.trick {
      float : none;
      width : auto;
    }

    a.close {
      position  : absolute;
      top       : 20px;
      right     : 20px;
      font-size : 36px;
    }

    h4 {
      margin         : 50px auto;
      width          : 400px;
      font-size      : 48px;
      line-height    : 48px;
      text-transform : uppercase;
      font-weight    : lighter;
    }

    h5 {
      margin         : 25px;
      width          : auto;
      text-align     : left;
      font-size      : 30px;
      line-height    : 30px;
      text-transform : uppercase;
      font-weight    : lighter;
    }

    p.description {
      line-height : 26px;
      text-align  : left;
      margin      : 25px;
    }

    img.spinner {
      display : block;
      width   : 32px;
      height  : 32px;
      margin  : 100px auto;
    }

    .video-mask {
      -webkit-mask-image : -webkit-radial-gradient(circle, white 100%, black 100%);
      -webkit-transform  : rotate(0.000001deg);
      transform          : rotate(0.000001deg);
      margin             : 10px auto;
      border             : 3px solid #5a8aba;
      .borderRadius(15px, 15px, 15px, 15px);
      .boxShadow(0px 0 10px #5a8aba);
      width              : 400px;
      overflow           : hidden;
    }
    video {
      width   : 400px;
      display : block;
    }

    &.ng-enter, &.ng-leave {
      .easeInOutQuint(500ms);
    }

    &.ng-enter {
      opacity : 0;
      right   : -500px;

    }

    &.ng-enter.ng-enter-active {
      opacity : 1;
      right   : 0;
    }

    &.ng-leave {
      opacity : 1;
      right   : 0;

    }

    &.ng-leave.ng-leave-active {
      opacity : 0;
      right   : -500px
    }

  }
}
