span.title Club540
nav
  //a(href="/",       title="Club540.com")  Home
  //a(href="/tricktionary", title="Tricktionary") Tricktionary
  a(href="http://facebook.com/club540", title="Facebook")
    i.fa.fa-facebook-official

  //script(type="text/javascript", src="https://apis.google.com/js/platform.js")
  //div.g-ytsubscribe(data-channelid="UCB3Dwc3iDF2E3Mf1kKstqRQ", data-layout="default", data-count="default")

span.right 5.0.6
