span.title Club540
nav
  //a(href="/",       title="Club540.com")  Home
  //a(href="/tricktionary", title="Tricktionary") Tricktionary
  a(href="http://facebook.com/club540", title="Facebook")
    i.fa.fa-facebook-official

span.right 5.0.0
