nav
  a(href="/",       title="Club540.com")  Home
  a(href="/users",  title="Trickers")     Trickers
  a(href="/tricks", title="Tricktionary") Tricktionary
  a(href="/contact",title="Contact")      Contact
a.auth-prompt(ng-click="authPrompt()")
  i.fa.fa-sign-in