span.title Club540
nav
  //a(href="/",       title="Club540.com")  Home
  //a(href="/tricktionary", title="Tricktionary") Tricktionary
  a(href="http://facebook.com/club540", title="Facebook")
    i.fa.fa-facebook-official

  div.g-ytsubscribe(data-channelid="UCZ36OBb2hdUgn-iRon8inHw", data-layout="default", data-count="default")

span.right 5.0.3
