doctype html
html
  head
    base(href="/")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    //link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/assets/css/vendor.css")
    link(rel="stylesheet", href="/assets/css/style.css")
    script(type="text/javascript", src="/assets/js/vendor.js")
    script(type="text/javascript", src="/assets/js/main.js")
    script(type="text/javascript", src="https://apis.google.com/js/platform.js")

  body(ng-app="club540",id="ng-app", ng-controller="RootCtrl as rootCtrl")
    modal
    site-header
    include partials/flash

    div(ng-view)
      block content

    footer.main-footer
