section.group.resetPassword(ng-show="visibleSection === 'resetPassword'")
  form#resetPasswordForm(ng-submit="resetPassword()")
    section(ng-hide="successMessage.length")
      header
        h1 Reset your password
      input.email(
      ng-model="email",
      type="email",
      placeholder="email address"
      )
      button(type="submit", ng-disabled="loading") Reset Password
      span.loading(ng-show="loading")
        //include loading
      p.systemMessage.error(ng-show="errorMessage.length")
        //{{errorMessage}}
    section.systemMessage.success(ng-show="successMessage.length")
      header
        h1 Reset instructions sent
      p
        //{{successMessage}}
        br
        br
        button.cancel(ng-click="cancel()") OK