section.tricktionary(
    ng-class = "{condensed : tricktionaryCtrl.tricktionarySvc.visibleTrick}"
  )
  block content
    input(ng-model="trickSearch.name")

    div.trick-class(
      layout-sm = "column",
      layout-md = "column",
      ng-repeat = "trickClass in tricktionaryCtrl.tricktionary.classes",
      ng-init   = "showTricks=true",
      ng-class  = "{open : showTricks}"
    )
      header {{trickClass.name}}
        a(ng-click="showTricks=!showTricks") <>

      p.trick-class-description(
        ng-if        = "showTricks",
        ng-bind-html = "tricktionaryCtrl.trustHtml(trickClass.description)"
      )

      div.tricks
        div.trick(
          ng-if            = "showTricks",
          data-trick-class = "{{trickClass.uri}}",
          flex-sm,
          flex-md,
          ng-repeat        = "trick in tricktionaryCtrl.filterByClass(trickClass)"
        )
          span(ng-click="tricktionaryCtrl.showTrick(trick)") {{trick.name}}

    trick-detail(
      ng-if = "!!tricktionaryCtrl.tricktionarySvc.visibleTrick",
      trick = "tricktionaryCtrl.tricktionarySvc.visibleTrick",
      close = "tricktionaryCtrl.close"
    )
